.idea/shelf
.idea/libraries/Gradle*.xml
.idea/libraries/Maven*.xml
.idea/artifacts
.idea/modules
.idea/runConfigurations/JPS_*.xml
.idea/libraries
.idea/modules.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/vcs.xml
*.iml
!**/src/**/build
!**/test/**/build
build/
target/